@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamMedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamLight.ttf') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Gotham', sans-serif;
}

.background {
    background: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.bold-text {
    font-weight: 700;
}

.light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 500;
}

.topnav {
    width: 100%;
 
    position: fixed;
    top: 0;
    left: 0;
 
    background-color: White;

    font-size: 15px;
    box-shadow: 0 0 10px Black;
}

.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: Black;
 
    /* centering text */
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
    
    text-decoration: none;
    font-weight: 300;
 }

.nav-logo {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: Black;
 
    /* centering text */
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
    
    text-decoration: none;
    font-weight: 700;
    font-size: 30;
}