@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamMedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamLight.ttf') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Gotham', sans-serif;
}

.background {
    background: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.bold-text {
    font-weight: 700;
}

.light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 500;
}
